.piechart {
    display: block;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
